# --- PART 3: PIPELINE TRACKING CONFIGURATION ---
MODEL_TRACKING_ENVIRONMENT=development
MODEL_EXPORT_DIR=./part3
PIPELINE_ARTIFACT_NAME=heart_disease_pipeline.pkl

# (Optional) If connecting to remote ML tracking registers down the line
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=cardio_risk_prediction